$color-1: #271414;
$color-2: #f3f3f3;
$color-3: #44261e;
$color-4: #271110;
$color-5: #FFF0DA;
$color-6: #5a492a;
$color-7: #f8f8f8;
$color-8: rgb(39, 39, 39);
$hover-color-1: #80683a;
$hover-color-2: #44261e;
$button-color: #836b35;
