@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@400;500&family=Poppins:wght@400;500&family=Roboto+Slab:wght@300;400;500&family=Work+Sans:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 10%;
}
header .nav-menu {
  display: flex;
}
header .nav-menu a {
  padding: 10px 20px;
  color: #f3f3f3;
  transition: ease-in-out 0.3s;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
header .nav-menu a:hover {
  color: #80683a;
}
@media screen and (max-width: 960px) {
  header .nav-menu a {
    font-size: 15px;
  }
  header .nav-menu a:hover {
    color: #932325;
  }
}
header .nav-menu li {
  list-style: none;
}
@media screen and (max-width: 960px) {
  header .nav-menu li {
    margin-bottom: 8px;
    display: block;
  }
}
@media screen and (max-width: 960px) {
  header .nav-menu {
    flex-direction: column;
    top: 100%;
    width: 100%;
    height: 200px;
    position: absolute;
    justify-content: center;
    background-color: #836b35;
    display: none;
    transform: translateY(-200px);
  }
  header .nav-menu.active {
    display: flex;
  }
}
header .logo img {
  width: 160px;
  height: auto;
}
@media screen and (max-width: 768px) {
  header .logo img {
    width: 250px;
    padding-left: 5px;
  }
}
header .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .button button {
  background-color: #836b35;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  transition: ease-in-out 0.3s;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 16px;
  margin-right: 15px;
}
header .button button:hover {
  cursor: pointer;
  background-color: #5f4d26;
}
@media screen and (max-width: 960px) {
  header .button button {
    background-color: #836b35;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    transition: ease-in-out 0.3s;
    margin-right: 0;
  }
  header .button button:hover {
    cursor: pointer;
    background-color: #5f4d26;
  }
}
@media screen and (max-width: 480px) {
  header .button button {
    background-color: #836b35;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    transition: ease-in-out 0.3s;
    margin-right: 0;
    font-size: 14px;
    display: none;
  }
  header .button button:hover {
    cursor: pointer;
    background-color: #5f4d26;
  }
}
header .button #menu {
  font-size: 25px;
  cursor: pointer;
  z-index: 1001;
  color: #f3f3f3;
  display: none;
}
@media screen and (max-width: 960px) {
  header .button #menu {
    display: block;
    margin-left: 15px;
  }
}
@media screen and (max-width: 960px) {
  header {
    padding: 10px 20px 10px 0;
    transition: 0.3s;
  }
}

.home .image-container {
  position: relative; /* Needed for positioning overlay text */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.649); /* Adjust opacity as needed */
}
.home .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.home .overlay-text h1 {
  font-family: "Roboto Slab";
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  .home .overlay-text h1 {
    font-size: 1.8rem;
  }
}
.home .overlay-text h4 {
  font-family: "Roboto Slab";
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 300;
}

.about-section, .menu-section {
  margin: 4rem 0 4rem 0;
}
.about-section .about-grid, .about-section .menu-grid, .menu-section .about-grid, .menu-section .menu-grid {
  display: grid;
  padding: 0;
  margin: 0 4rem 0 4rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}
.about-section .about-grid .about-image, .about-section .about-grid .menu-image, .about-section .menu-grid .about-image, .about-section .menu-grid .menu-image, .menu-section .about-grid .about-image, .menu-section .about-grid .menu-image, .menu-section .menu-grid .about-image, .menu-section .menu-grid .menu-image {
  width: 100%;
}
.about-section .about-grid .about-image img, .about-section .about-grid .menu-image img, .about-section .menu-grid .about-image img, .about-section .menu-grid .menu-image img, .menu-section .about-grid .about-image img, .menu-section .about-grid .menu-image img, .menu-section .menu-grid .about-image img, .menu-section .menu-grid .menu-image img {
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 1140px) {
  .about-section .about-grid .about-image img, .about-section .about-grid .menu-image img, .about-section .menu-grid .about-image img, .about-section .menu-grid .menu-image img, .menu-section .about-grid .about-image img, .menu-section .about-grid .menu-image img, .menu-section .menu-grid .about-image img, .menu-section .menu-grid .menu-image img {
    width: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .about-section .about-grid, .about-section .menu-grid, .menu-section .about-grid, .menu-section .menu-grid {
    padding: 0 1.5rem 0 1.5rem;
  }
}
@media screen and (max-width: 960px) {
  .about-section .about-grid, .about-section .menu-grid, .menu-section .about-grid, .menu-section .menu-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .about-section .about-grid, .about-section .menu-grid, .menu-section .about-grid, .menu-section .menu-grid {
    margin: 0 2rem 0 2rem;
  }
}
@media screen and (max-width: 480px) {
  .about-section .about-grid, .about-section .menu-grid, .menu-section .about-grid, .menu-section .menu-grid {
    margin: 0 1rem 0 1rem;
  }
}
.about-section .about-grid .about-text h2, .about-section .about-grid .menu-text h2, .about-section .menu-grid .about-text h2, .about-section .menu-grid .menu-text h2, .menu-section .about-grid .about-text h2, .menu-section .about-grid .menu-text h2, .menu-section .menu-grid .about-text h2, .menu-section .menu-grid .menu-text h2 {
  font-family: Roboto SLab;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #5a492a;
}
@media screen and (max-width: 1250px) {
  .about-section .about-grid .about-text h2, .about-section .about-grid .menu-text h2, .about-section .menu-grid .about-text h2, .about-section .menu-grid .menu-text h2, .menu-section .about-grid .about-text h2, .menu-section .about-grid .menu-text h2, .menu-section .menu-grid .about-text h2, .menu-section .menu-grid .menu-text h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 960px) {
  .about-section .about-grid .about-text h2, .about-section .about-grid .menu-text h2, .about-section .menu-grid .about-text h2, .about-section .menu-grid .menu-text h2, .menu-section .about-grid .about-text h2, .menu-section .about-grid .menu-text h2, .menu-section .menu-grid .about-text h2, .menu-section .menu-grid .menu-text h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .about-section .about-grid .about-text h2, .about-section .about-grid .menu-text h2, .about-section .menu-grid .about-text h2, .about-section .menu-grid .menu-text h2, .menu-section .about-grid .about-text h2, .menu-section .about-grid .menu-text h2, .menu-section .menu-grid .about-text h2, .menu-section .menu-grid .menu-text h2 {
    font-size: 2rem;
  }
}
.about-section .about-grid .about-text p, .about-section .about-grid .menu-text p, .about-section .menu-grid .about-text p, .about-section .menu-grid .menu-text p, .menu-section .about-grid .about-text p, .menu-section .about-grid .menu-text p, .menu-section .menu-grid .about-text p, .menu-section .menu-grid .menu-text p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  color: rgb(39, 39, 39);
  line-height: 30px;
}
@media screen and (max-width: 1250px) {
  .about-section .about-grid .about-text p, .about-section .about-grid .menu-text p, .about-section .menu-grid .about-text p, .about-section .menu-grid .menu-text p, .menu-section .about-grid .about-text p, .menu-section .about-grid .menu-text p, .menu-section .menu-grid .about-text p, .menu-section .menu-grid .menu-text p {
    font-size: 0.8rem;
    line-height: 25px;
  }
}
@media screen and (max-width: 960px) {
  .about-section .about-grid .about-text p, .about-section .about-grid .menu-text p, .about-section .menu-grid .about-text p, .about-section .menu-grid .menu-text p, .menu-section .about-grid .about-text p, .menu-section .about-grid .menu-text p, .menu-section .menu-grid .about-text p, .menu-section .menu-grid .menu-text p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .about-section .about-grid .about-text p, .about-section .about-grid .menu-text p, .about-section .menu-grid .about-text p, .about-section .menu-grid .menu-text p, .menu-section .about-grid .about-text p, .menu-section .about-grid .menu-text p, .menu-section .menu-grid .about-text p, .menu-section .menu-grid .menu-text p {
    font-size: 0.9rem;
    line-height: 25px;
  }
}
.about-section .about-grid .about-text p span, .about-section .about-grid .menu-text p span, .about-section .menu-grid .about-text p span, .about-section .menu-grid .menu-text p span, .menu-section .about-grid .about-text p span, .menu-section .about-grid .menu-text p span, .menu-section .menu-grid .about-text p span, .menu-section .menu-grid .menu-text p span {
  font-weight: 500;
}
.about-section .about-grid .about-text button, .about-section .about-grid .menu-text button, .about-section .menu-grid .about-text button, .about-section .menu-grid .menu-text button, .menu-section .about-grid .about-text button, .menu-section .about-grid .menu-text button, .menu-section .menu-grid .about-text button, .menu-section .menu-grid .menu-text button {
  color: #f3f3f3;
  margin: 1rem 0 0 0;
  font-size: 1rem;
  background-color: #836b35;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  transition: ease-in-out 0.3s;
}
.about-section .about-grid .about-text button:hover, .about-section .about-grid .menu-text button:hover, .about-section .menu-grid .about-text button:hover, .about-section .menu-grid .menu-text button:hover, .menu-section .about-grid .about-text button:hover, .menu-section .about-grid .menu-text button:hover, .menu-section .menu-grid .about-text button:hover, .menu-section .menu-grid .menu-text button:hover {
  cursor: pointer;
  background-color: #5f4d26;
}
.about-section .about-grid .about-text #gallery, .about-section .about-grid .menu-text #gallery, .about-section .menu-grid .about-text #gallery, .about-section .menu-grid .menu-text #gallery, .menu-section .about-grid .about-text #gallery, .menu-section .about-grid .menu-text #gallery, .menu-section .menu-grid .about-text #gallery, .menu-section .menu-grid .menu-text #gallery {
  background-color: #f8f8f8;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  transition: ease-in-out 0.3s;
  border: 1px solid #836b35;
  color: #836b35;
}
.about-section .about-grid .about-text #gallery:hover, .about-section .about-grid .menu-text #gallery:hover, .about-section .menu-grid .about-text #gallery:hover, .about-section .menu-grid .menu-text #gallery:hover, .menu-section .about-grid .about-text #gallery:hover, .menu-section .about-grid .menu-text #gallery:hover, .menu-section .menu-grid .about-text #gallery:hover, .menu-section .menu-grid .menu-text #gallery:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

.rooms-section {
  background-color: #f8f8f8;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .rooms-section {
    padding: 1rem;
  }
}
.rooms-section h3 {
  font-family: Roboto Slab;
  font-weight: 300;
  color: #5a492a;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .rooms-section h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .rooms-section h3 {
    font-size: 1.5rem;
  }
}
.rooms-section .room-cards {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 480px) {
  .rooms-section .room-cards {
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .rooms-section .room-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    align-content: center;
  }
}
@media screen and (max-width: 480px) {
  .rooms-section .room-cards {
    grid-template-columns: 1fr;
  }
}
.rooms-section .room-cards img {
  width: 100%;
  max-width: 100%;
}
.rooms-section .room-cards h4 {
  font-size: 1.5rem;
  font-family: Roboto Slab;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}
@media screen and (max-width: 480px) {
  .rooms-section .room-cards h4 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 0;
  }
}
.rooms-section .room-cards p {
  color: rgb(39, 39, 39);
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .rooms-section .room-cards p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  .rooms-section .room-cards p {
    text-align: center;
  }
}

.amenities-section {
  background-image: url("../Rest/banner.png");
  background-size: cover;
  padding: 2rem;
}
@media screen and (max-width: 480px) {
  .amenities-section {
    padding: 1rem;
  }
}
.amenities-section h4 {
  font-family: Roboto Slab;
  font-weight: 300;
  color: #5a492a;
  font-size: 3rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .amenities-section h4 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .amenities-section h4 {
    font-size: 1.5rem;
    text-align: center;
  }
}
.amenities-section .amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.amenities-section .amenities-grid img {
  width: 100%;
}
@media screen and (max-width: 1140px) {
  .amenities-section .amenities-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .amenities-section .amenities-grid {
    gap: 1rem;
  }
}
.amenities-section .amenities-grid .amenities-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .amenities-section .amenities-grid .amenities-side {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .amenities-section .amenities-grid .amenities-side {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .amenities-section .amenities-grid .amenities-side .amentities {
    text-align: center;
  }
}
.amenities-section .amenities-grid .amenities-side .amentities i {
  font-size: 3rem;
  color: #5a492a;
  margin-bottom: 1rem;
}
.amenities-section .amenities-grid .amenities-side .amentities h5 {
  font-family: Roboto Slab;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(39, 39, 39);
  margin-bottom: 1rem;
}

.menu-section {
  background-color: #f8f8f8;
  margin-bottom: 0;
}

.footer-section {
  background-image: url("../Rest/banner.png");
  background-size: cover;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.footer-section .footer-flex {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .footer-section .footer-flex {
    flex-direction: column;
  }
}
.footer-section .footer-flex .map-container {
  width: 100%;
  max-width: 600px;
  display: block;
}
@media screen and (max-width: 768px) {
  .footer-section .footer-flex .map-container {
    padding: 1rem;
  }
}
.footer-section .footer-flex .map-container iframe {
  width: 100% !important;
  height: 500px !important;
  display: block;
}
@media screen and (max-width: 768px) {
  .footer-section .footer-flex .map-container iframe {
    height: 300px !important;
  }
}
.footer-section .footer-flex .footer-details {
  padding: 40px;
}
.footer-section .footer-flex .footer-details h1 {
  font-size: 2rem;
  position: relative;
}
.footer-section .footer-flex .footer-details p {
  color: grey;
  padding: 15px 15px 15px 0;
}
.footer-section .footer-flex .footer-details a {
  color: #836b35;
  font-size: 2.5rem;
  margin-right: 8px;
}
.footer-section .footer-flex .footer-details h3 {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-section .footer-flex .footer-details li {
  color: grey;
  padding: 10px 10px 10px 0;
}
.footer-section .footer-flex .contact-details {
  padding: 40px;
}
.footer-section .footer-flex .contact-details #contact {
  position: relative;
}
.footer-section .footer-flex .contact-details .details li {
  margin: 10px 10px 15px 0;
  font-weight: 500;
  color: grey;
}

.gallery-home {
  height: 15vh;
  background-color: #44261e;
}
.gallery-home .overlay-text {
  text-align: center;
}
.gallery-home .overlay-text h1 {
  font-size: 3rem;
  font-family: "Roboto Slab";
  font-weight: 300;
  color: #f3f3f3;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .gallery-home .overlay-text h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
.gallery-home .overlay-text h4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto Slab";
  color: #f3f3f3;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .gallery-home .overlay-text h4 {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.pictures-grid {
  padding: 4rem 3rem;
  background-image: url("../Rest/banner-2.png");
  background-size: cover;
}
.pictures-grid h2 {
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #44261e;
}
@media screen and (max-width: 768px) {
  .pictures-grid h2 {
    font-size: 1.3rem;
  }
}
.pictures-grid .sub-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}
.pictures-grid .sub-grid img {
  width: 100%;
  padding: 1rem;
}
@media screen and (max-width: 480px) {
  .pictures-grid .sub-grid img {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 960px) {
  .pictures-grid .sub-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .pictures-grid .sub-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .pictures-grid {
    padding: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */